<h2 class="mat-h2">Paciente: {{consulta.idPacienteFk.nombres}} | Fecha de Consulta: {{consulta.fechaTiempo | date:'dd-MM-yyyy'}}</h2>

<mat-card class="example-card" *ngFor="let d of consulta.lstDetalleConsulta">
    <mat-card-header>
        <mat-card-title>DIAGNOSTICO</mat-card-title>
        <mat-card-subtitle>{{d.diagnostico}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{d.tratamiento}}
        </p>
    </mat-card-content>
</mat-card>

<mat-card class="example-card" *ngFor="let ce of examenes">
    <mat-card-header>
        <mat-card-title>EXAMENES</mat-card-title>
        <!-- esto es una curiosidad de java script, teoricamente no esta bien pero funciona :) -->
        <mat-card-subtitle>{{ce.idExamenPk.nombre}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            <!-- esto es una curiosidad de java script, teoricamente no esta bien pero funciona :) -->
            {{ce.idExamenPk.descripcion}}
        </p>
    </mat-card-content>
</mat-card>
